body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFFF;
	background-image:url(../static/back.png);
	background-repeat: repeat;
}
#apDiv1 {
	position:absolute;
	left:450px;
	top:15px;
	width:840px;
	height:295px;
	z-index:1;
}
