body {
	font-family: Verdana, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	background-image:url(../static/back.png);
	background-repeat: repeat;
}

a:link {
color:#FF0000;
text-decoration:none;
}
a:visited {
color:#999999;
text-decoration:none;
}
a:hover {
color:#FFFFFF;
text-decoration:underline;
}
a:active {
color:#00FF00;
text-decoration:underline;
background-color:#000000;
}

#apDiv1 {
	position:absolute;
	left:450px;
	top:15px;
	width:840px;
	height:295px;
	z-index:1;
}
#menu { position: absolute; }
#about { position: absolute; }

#FTB { position: relative; }
#FTB img { position: absolute; }
#FT { z-index: 100; }
#GFT { z-index: 101; }

#MSB { position: relative; }
#MSB img { position: absolute; }
#MS { z-index: 100; }
#GMS { z-index: 101; }

#PRB { position: relative; }
#PRB img { position: absolute; }
#PR { z-index: 100; }
#GPR { z-index: 101; }

#WTFB { position: relative; }
#WTFB img { position: absolute; }
#WTF { z-index: 100; }
#GWTF { z-index: 101; }
