<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <font color=#ffffff>
  <center>
  	<b>{{ date }}</b>
  	<br>
  	<br>
  	{% for m_dollar in dollar %}
  	O valor do dólar é {{ m_dollar.value }}
  	{% endfor %}
  	<br>
  	{% for m_bovespa in bovespa %}
  	O índice Bovespa é {{ m_bovespa.value }}
  	{% endfor %}
  	<br>
  	{% for m_dowjones in dowjones %}
  	O índice Dow Jones é {{ m_dowjones.value }}
  	{% endfor %}
  	<br>
  	{% for m_nasdaq in nasdaq %}
  	O índice Nasdaq é {{ m_nasdaq.value }}
  	{% endfor %}
  	<br>
  	{% for m_max_sp in max_sp %}
  	.......e a previsáo da máxima para São Paulo é de {{ m_max_sp.value }} graus
       {% endfor %}
       <br>
  </center>
    <br>
    <br>
    <br>
    <br>
    Deixe um recado para <a href="http://www.flavors.me/fabiomdiniz">mim</a> !
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
  </font>
  <br>
  <img align="right" src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
  <img align="right" src="http://www.python.org/community/logos/python-powered-w-100x40.png" alt="Python Powered" />
  </body>
</html>
