<html>
  <head>
<title> Sunny Trends </title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="./static/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="./static/jquery.sparkline.js"></script>

    <script type="text/javascript">
    $(function() {
	    var dow_jones = [{%for m_dow_jones in dow_jones_list reversed%}{% if forloop.last %}{{m_dow_jones.value}}{%else%}{{m_dow_jones.value}},{% endif %}{% endfor %}];
		$('.main_graph').sparkline(dow_jones, {width:'20em', height: '5.3em', fillColor: false, lineColor: 'yellow'});
		
        var bovespa = [{% for m_bovespa in bovespa_list reversed %}{% if forloop.last %}{{m_bovespa.value}}{%else%}{{m_bovespa.value}},{% endif %}{% endfor %}];
		$('.main_graph').sparkline(bovespa, {composite: true, fillColor: false, lineColor: 'red'});

        var dollar = [{% for m_dollar in dollar_list reversed %}{% if forloop.last %}{{m_dollar.value}}{%else%}{{m_dollar.value}},{% endif %}{% endfor %}];
		$('.main_graph').sparkline(dollar, {composite: true, fillColor: false, lineColor: 'blue'});
		
        var max_sp = [{% for m_max_sp in max_sp_list reversed %}{% if forloop.last %}{{m_max_sp.value}}{%else%}{{m_max_sp.value}},{% endif %}{% endfor %}];
		$('.main_graph').sparkline(max_sp, {composite: true, fillColor: false, lineColor: 'green'});		

    });
    </script>


    <style type="text/css">
<!--
#apDiv1 {
	position:absolute;
	left:500px;
	top:15px;
	width:624px;
	height:295px;
	z-index:1;
}
-->
    </style>
</head>
  <body>
  
  
    <div id="apDiv1">
      <div align="center"><b>{{ date }}</b> <br>
        <br>
O valor do dólar é {{ dollar.value }} <br>
O índice Bovespa é {{ bovespa.value }} <br>
O índice Dow Jones é {{ dowjones.value }} <br>
O índice Nasdaq é {{ nasdaq.value }} <br>
.......e a previsáo da máxima para São Paulo é de {{ max_sp.value }} graus <br>
<br>
<br>
<br>
Tendências<br>
<strong>(<font color="#ffff00">Dow Jones</font>, <font color="#ff0000">Bovespa</font>, <font color="#0000ff">Dollar</font>, <font color="#006600">Máxima para São Paulo</font>) </strong><br>
<br>
<br>
<span class="main_graph">Now Loading...</span> </font> </div>
  </div>
    <div class="image">
      <p><img src="static/logo.png" width="486" height="315" align="absbottom"><br>
    </p>
    </div>
    <center>
      <p>&nbsp;</p>
  </center>
    <br>
    <br>
    <br>
    <br>
    <br>
	  
  </font>
  <div align="right"><a href="http://www.flavors.me/fabiomdiniz">Sobre o autor</a></div>
    <p>
    <a href="http://www.python.org/">
    <img align="right" src="http://www.python.org/community/logos/python-powered-w-100x40.png" alt="Python Powered" />     
    </a></p>
    <br>
    <p><br>
    <a href="http://code.google.com/appengine/">
    <img align="right"src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
    </a></p>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15624284-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
